<footer class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Online Bookstore</h5>
                <p>Your one-stop shop for all your reading needs.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('book_list') }}">Books</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
                    Email: info@bookstore.com<br>
                    Phone: (123) 456-7890
                </address>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2023 Online Bookstore. All rights reserved.</p>
        </div>
    </div>
</footer>
